@import url('https://fonts.googleapis.com/css2?family=IM+Fell+French+Canon+SC&family=Noto+Sans:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100;300;400;500;700;900&display=swap');

.navbar {
   
 margin-right: 10px;
}
.contact-data span {
    font-size: 14px; /* Font size for smaller screens */
}



* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Noto Sans JP', sans-serif;
   
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

/*header*/

header {
    background-color: #272C3F;
    padding: 0 200px;
}

.contact-info {
    display: flex;
    align-items: center;
    justify-content: center;
}

.contact-data {
    margin: 30px 0;
    font-size: 1.1rem;
    padding: 0 10px;
    border-right: 1px solid rgba(255, 255, 242, 0.3)
}

.contact-data:last-child {
    border: none;
}

.contact-data i {
    color: #e0840a;
    font-size: 1.3rem;
    margin-right: 10px;
}

.contact-data span {
    color: #FFFFFF;
}





.navigation {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 0;
    border-top: 1px solid rgba(146, 146, 10, 0.3);
    position: relative;
}

.navigation-list {
    display: flex;
    align-items: center;
    transition: .5s ease;
}

.navigation-item {
    margin-right: 40px;
}


.navigation-item.logo {
    margin-right: 100px;
}

.navigation-item.close {
    font-size: 2rem;
    position: absolute;
    top: 20px;
    right: 30px;
    color: #fffff2;
    cursor: pointer;
    display: none;
}

.navigation-item.usluge-item {
    position: relative;
}


.usluge-navigacija-lista {
    position: absolute;
    top: 20px;
    left: 0;
    background-color: #2b2b2c;
    width: 500px; /* Ajustez la largeur selon vos besoins */
    height: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    transition: .7s ease;
    overflow: hidden;
}

.navigation-item.usluge-item:hover .usluge-navigacija-lista,
.navigation-item.usluge-item:focus-within .usluge-navigacija-lista {
    height: 400px;
}

.usluge-navigacija-lista li:first-child {
    padding-top: 20px;
}

.usluge-navigacija-lista li {
    padding: 0 20px;
    white-space: nowrap; /* Empêche le texte de passer à la ligne */
}

.usluge-navigacija-lista li a {
    font-weight: 700;
    color: #ffffff;
}

.usluge-navigacija-lista li a:hover {
    color: #f0b105;
    transition: .5s ease;
}


.navigation-link {
    color: #fffff2;
    transition: .5s ease;
}

.navigation-link:hover {
    color: #f0b105;
}

.navigation-item.log .navigation-link {
    font-family: 'IM Fell French Canon SC', sans-serif;
    font-size: 2rem;
    color: #f1d27b;
}

.toggle {
    display: none;
}



/*pocetna*/

.pocetna-section {
    height: 100vh;
    background:  url('img/pozadina-pocetna.jpg') center no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;
}

.pocetna-text {
    margin-left: 100px;
}

.pocetna-text p {
    font-size: 1.5rem;
    font-weight: 100;
    color: #b3b39f;
}

.pocetna-text h1 {
    font-family: 'Times New Roman', Times, serif;    font-size: 3rem;
    font-weight: 300;
    line-height: 1.4;
    color: #f1d27b;
    margin-top: 30px;
}

.pocetna-text a {
    margin-top: 30px;
    display: inline-block;
    background-color: #494026;
    color: #ffffff;
    padding: 10px 30px;
    transition: .5s ease;
}

.pocetna-text a:hover {
    background-color: #cfbd8c;
}

/*dodatak*/

.dodatak {
    background-color: #F1F1F1;
    padding: 20px 0;
    display: flex;
    justify-content: center;
}

.dodatak-1 {
    text-align: center;
    margin: 0 20px;
}



.dodatak-1 p {
    font-weight: 300;
    font-size: 1.2rem;
    color: #72560a;
}

.dodatak h1 {
    font-family: 'IM Fell French Canon SC', sans-serif;
    font-weight: 300;
    color: #48484a;
}


/*usluge*/

.usluge-section {
    padding: 100px 150px;
    text-align: center;
    color: rgb(252, 236, 236);
}

.naslov {
    font-family: 'IM Fell French Canon SC', sans-serif;
    font-weight: 300;
    font-size: 3rem;
    color: #48484a;
    padding: 0 20px;
    border-right: 3px solid #C0B596;
    border-left: 3px solid #C0B596;
    display: inline-block;
}

.usluge {
    margin: 150px 0;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 50px;
    row-gap: 50px;
}

.usluga {
    padding: 20px 30px;
    border-top: 10px solid #2b2b2c;
    box-shadow: 8px 8px 15px rgba(0, 0, 0, .4);
    position: relative;
    bottom: 0;
    transition: .5s ease;
}

.usluga:hover {
    bottom: 30px;
}

.usluga h2 {
    color: #48484a;
}

.usluga hr {
    margin: 20px 0;
}

.usluga p {
    text-align: justify;
    font-size: 0.9rem;
    font-weight: 300;
    color: #48484a;
}

.usluga a {
    margin-top: 20px;
    display: inline-block;
    background-color: #BEB395;
    color: #fffff2;
    padding: 8px 20px;
    transition: .5s ease;
}

.usluga a:hover {
    background-color: #cfbd8c;
}

/*o nama section */

.o-nama-section {
    padding: 100px 150px;
    background-color: #F1F1F1;
}

.o-nama {
    display: grid;
    grid-template-columns: 400px 1fr;
    column-gap: 50px;
}

.o-nama-slika {
    background-color: #BEB395;
    height: 50%;

}

.o-nama-slika img {
    width: 100%;
    max-width: 100%;
    height: auto;
    position: relative;
    top: -20px;
    right: 20px;
}

.o-nama-text {
    text-align: center;
}

.o-nama-text p {
    font-size: 1.1rem;
    font-weight: 300;
    text-align: left;
    margin: 30px 0;
    color: #48484a;
}

.o-nama-text a {
    margin-top: 30px;
    display: inline-block;
    background-color: #BEB395;
    color: #fffff2;
    padding: 10px 30px;
    transition: .5s ease;
}

.o-nama-text a:hover {
    background-color: #cfbd8c;
}

/* pozovite nas */

.pozovite-nas-section {
    background-color: #272C3F;
    padding: 20px 0;
    text-align: center;
}

.pozovite-nas-section span {
    font-weight: 300;
    font-size: 1.2rem;
    color: #fffff2;
}

.pozovite-nas-section a {
    font-size: 1.2rem;
    color: #C0B596;
}

/* kontakt section */

.kontakt-section {
    padding: 100px 150px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 50px;
    background:  url('img/kontakt-pozadina.jpg') center no-repeat;
    background-size: cover;
}

.kontakt-text h1 {
    font-family: 'IM Fell French Canon SC', sans-serif;
    font-size: 2.5rem;
    font-weight: 300;
    margin-bottom: 20px;
    color: #ffffff; /* Correction: 'ffffff' au lieu de 'fffff2' */
}

.kontakt-text p {
    font-weight: 300;
    font-size: 1.1rem;
    margin-bottom: 20px;
    color: #ffffff; /* Correction: 'ffffff' au lieu de 'fffff2' */
}
.kontakt-forma form {
    display: flex;
    flex-direction: column;
}

.kontakt-forma form input {
    font-family: 'Noto Sans', sans-serif;
    font-size: 1.1rem;
    padding: 10px 20px;
    margin: 10px 0;
    outline: none;
    border: 1px solid rgba(192, 181, 150, 0.9);
    color: #fffff2;
    background-color: rgba(192, 181, 150, 0.6);
}

.kontakt-forma form input::placeholder {
    color: #fffff2;
}

.kontakt-forma form select {
    font-family: 'Noto Sans', sans-serif;
    font-size: 1.1rem;
    padding: 10px 20px;
    margin: 10px 0;
    outline: none;
    border: 1px solid rgba(192, 181, 150, 0.9);
    color: #fffff2;
    background-color: rgba(192, 181, 150, 0.6);
}

.kontakt-forma form textarea {
    font-family: 'Noto Sans', sans-serif;
    font-size: 1.1rem;
    padding: 10px 20px;
    margin: 10px 0;
    outline: none;
    border: 1px solid rgba(192, 181, 150, 0.9);
    color: #fffff2;
    background-color: rgba(192, 181, 150, 0.6);
}

.kontakt-forma form textarea::placeholder {
    color: #fffff2;
}

.kontakt-forma form input[type='submit'] {
    display: inline-block;
    background-color: #BEB395;
    color: #fffff2;
    padding: 10px 30px;
}

/* footer */

footer {
    background-color: #272C3F;
    padding-top: 100px;
    padding-left: 200px;
    padding-right: 200px;
}

.footer-navigacija {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    column-gap: 50px;
    margin-bottom: 100px;
}

.f-nav-deo h1 {
    font-family: 'IM Fell French Canon SC', sans-serif;
    font-weight: 300;
    text-transform: uppercase;
    color: #fffff2;
    margin-bottom: 20px;
}
.contact-info .contact-data i {
    
    color: rgb(100, 65, 0); /* Ajoutez cette ligne pour définir la couleur des icônes */
}


h1.boja-loga {
    color: #BEB395;
}

.f-nav-deo p {
    font-weight: 300;
    color: #fffff2;
    margin: 10px 0;
}

.f-nav-deo .usluge-lista .usluge-stavka,
.f-nav-deo .brza-lista .brza-stavka {
    margin: 10px 0;
}

.f-nav-deo .usluge-lista .usluge-link,
.f-nav-deo .brza-lista .brz-link {
    font-weight: 400;
    color: #fffff2;
    transition: .5s ease;
}

.f-nav-deo .usluge-lista .usluge-link:hover,
.f-nav-deo .brza-lista .brz-link:hover {
    color: #BEB395;
}

.footer-info {
    padding: 20px 0;
    color: #fffff2;
    border-top: 1px solid rgba(255, 255, 242, 0.3);
}

/*Au moins de 1024px*/    /*valider*/
@media screen and (max-width: 1024px) {
    .navigation-item.logo {
        display: none;
    }


    .navigation {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 10px 0;
        border-top: 1px solid rgba(146, 146, 10, 0.3);
        position: relative;
    }
    
    .navigation-list {
        display: flex;
        align-items: center;
        transition: .5s ease;
    }
    
    .navigation-item {
        margin-right: 20px;
    }
    
    
    .navigation-item.log .navigation-link {
        font-family: 'IM Fell French Canon SC', sans-serif;
        font-size: 1rem;
        color: #f1d27b;
    }
    
    .navigation-item.close {
        font-size: 2rem;
        position: absolute;
        top: 20px;
        right: 30px;
        color: #fffff2;
        cursor: pointer;
        display: none;
    }
    
    .navigation-item.usluge-item {
        position: relative;
    }
    
    .navigation-item.usluge-item .navigation-link {
        pointer-events: none;
    }

    .contact-info .contact-data i {
        color: rgb(100, 65, 0);
    }

    header {
        padding: 0 50px;
    }

    .usluge-section,
    .o-nama-section,
    .kontakt-section {
        padding: 150px 30px; /* Ajustez la marge intérieure selon vos besoins */
    }

    .usluga p {
        text-align: left;
    }

    footer {
        padding-left: 50px;
        padding-right: 50px;
    }

    body {
        overflow-x: hidden; /* Ajoute cette ligne pour empêcher le débordement horizontal */
    }

    .container {
        max-width: 100%; /* Assure que le conteneur ne dépasse pas la largeur de l'écran */
        overflow-x: hidden; /* Ajoute cette ligne pour éviter le débordement horizontal */
    }

    .content {
        padding: 0 20px; /* Ajoute un peu de padding pour améliorer l'apparence sur des écrans plus petits */
    }

    .usluge-navigacija-lista {
        position: absolute;
        top: 20px;
        left: 0;
        background-color: #2b2b2c;
        width: 250px; /* Ajustez la largeur selon vos besoins */
        height: 0;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        transition: .7s ease;
        overflow: hidden;
        font-size: 8px;
    }
   



      /* Réduire la taille de la navigation */
      .navigation-list {
        padding: 5px; /* Ajoutez ou ajustez le rembourrage selon vos besoins */
    }

    /* Réduire la taille de la police des éléments de navigation */
    .navigation-link {
        font-size: 12px; /* Ajustez la taille de la police selon vos besoins */
    }

    /* Réduire l'espace entre les éléments de navigation */
    .navigation-item {
        margin-bottom: 1px; /* Ajustez l'espace selon vos besoins */
    }
    .contact-info{
        font-size: 13px;
    }
}

/*Au moins de 768px*/     /*Valider*/
@media screen and (max-width: 768px) {

    .contact-data span {
        font-size: 12px; /* Font size for smaller screens */
    }


    .navigation-item.logo {
        display: none;
    }
    .navigation-item.log .navigation-link {
        font-family: 'IM Fell French Canon SC', sans-serif;
        font-size: 1rem;
        color: #f1d27b;
    }

    .navigation {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 10px 0;
        border-top: 1px solid rgba(146, 146, 10, 0.3);
        position: relative;
    }
    
    .navigation-list {
        display: flex;
        align-items: center;
        transition: .5s ease;
    }
    
    .navigation-item {
        margin-right: 20px;
    }
    
    
    
    
    .navigation-item.close {
        font-size: 2rem;
        position: absolute;
        top: 20px;
        right: 30px;
        color: #fffff2;
        cursor: pointer;
        display: none;
    }
    
    .navigation-item.usluge-item {
        position: relative;
    }
    
    .navigation-item.usluge-item .navigation-link {
        pointer-events: none;
    }

    .contact-info .contact-data i {
        color: rgb(100, 65, 0);
    }
    .navigation-item.logo {
        display: none;
    }
    .contact-info .contact-data i {
        color: rgb(100, 65, 0);
    }

    header {
        padding: 0;
    }

    .contact-data span {
        font-size: 0.9rem;
    }

    

    .usluge {
        grid-template-columns: 1fr 1fr;
    }

    .o-nama {
        grid-template-columns: 1fr;
        row-gap: 50px;
    }

    .o-nama-slika {
        width: 100%;
        max-width: 400px;
        margin: auto;
    }

    .pozovite-nas-section {
        display: flex;
        flex-direction: column;
        margin-top: 20px; /* Ajoute un espace en haut */
        margin-bottom: 20px; /* Ajoute un espace en bas */
    }

    .kontakt-section {
        display: flex;
        flex-direction: column;
        grid-template-columns: 1fr;
        row-gap: 50px;
    }

    .kontakt-forma form {
        width: 100%;
        max-width: 80%;
        margin: auto;
    }

    .footer-navigacija {
        display: flex;
        flex-direction: column;
        grid-template-columns: 1fr 1fr;
        row-gap: 50px;
    }

    body {
        overflow-x: hidden; /* Empêche le débordement horizontal */
    }

    .container {
        max-width: 100%; /* Assure que le conteneur ne dépasse pas la largeur de l'écran */
        overflow-x: hidden; /* Empêche le débordement horizontal */
    }

    .content {
        padding: 0 15px; /* Ajoute un peu de padding pour améliorer l'apparence sur des écrans plus petits */
    }


    .usluge-navigacija-lista {
        position: absolute;
        top: 20px;
        left: 0;
        background-color: #2b2b2c;
        width: 200px; /* Ajustez la largeur selon vos besoins */
        height: 0;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        transition: .7s ease;
        overflow: hidden;
        font-size: 8px;
        overflow-y: scroll; /* Ajoute la barre de défilement verticale si nécessaire */
    }
   



      /* Réduire la taille de la navigation */
      .navigation-list {
        padding: 5px; /* Ajoutez ou ajustez le rembourrage selon vos besoins */
    }

    /* Réduire la taille de la police des éléments de navigation */
    .navigation-link {
        font-size: 12px; /* Ajustez la taille de la police selon vos besoins */
    }

    /* Réduire l'espace entre les éléments de navigation */
    .navigation-item {
        margin-bottom: 1px; /* Ajustez l'espace selon vos besoins */
    }
}

.whatsapp-link {
    position: relative;
    display: flex;
    align-items: center;
    color: #4CAF50; /* Couleur verte */
}

.whatsapp-link i {
    color: #4CAF50; /* Couleur verte */
    margin-right: 5px; /* Espace à droite de l'icône */
    margin-bottom: -2px; /* Ajustement vertical vers le bas */
}

.map {
    float: left;
}


/*Au moins de 500px*/        /*Valide*/
@media screen and (max-width: 450px) {
    .navigation-item.logo {
        display: none;
    }
    .navigation-item.log .navigation-link {
        font-family: 'IM Fell French Canon SC', sans-serif;
        font-size: 1rem;
        color: #f1d27b;
    }

    .navigation {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 10px 0;
        border-top: 1px solid rgba(146, 146, 10, 0.3);
        position: relative;
    }
    
    .navigation-list {
        display: flex;
        align-items: center;
        transition: .5s ease;
    }
    
    .navigation-item {
        margin-right: 20px;
    }
    
    
    
    
    .navigation-item.close {
        font-size: 2rem;
        position: absolute;
        top: 20px;
        right: 30px;
        color: #fffff2;
        cursor: pointer;
        display: none;
    }
    
    .navigation-item.usluge-item {
        position: relative;
    }
    
    .navigation-item.usluge-item .navigation-link {
        pointer-events: none;
    }

    .contact-info .contact-data i {
        color: rgb(100, 65, 0);
    }
    .navigation-item.logo {
        display: none;
    }
    .contact-data span {
        font-size: 16px;
        font-weight: bold;
        color: rgb(252, 252, 252) !important;
        margin: 5px 0; /* Ajoute de l'espace en haut et en bas */
    }

    .contact-info {
        font-size: 15.1px;
        color: rgb(252, 252, 252);
        font-weight: bold;
        margin: 0 20px;
    }

    .contact-info .contact-data i {
        color: rgb(100, 65, 0);
    }

    .contact-data {
        display: flex;
        flex-direction: column;
        margin-top: 10px; /* Ajoute de l'espace en haut */
    }

    .contact-data i {
        margin-bottom: 10px;
    }

    .pocetna-text {
        margin-left: 20px;
        padding-right: 20px; /* Ajusté pour éviter les débordements horizontaux */
        margin-bottom: 20px; /* Ajusté pour éviter les débordements verticaux */
    }

    .usluge {
        grid-template-columns: 1fr;
    }

    .pozovite-nas-section {
        padding: 20px;
    }

    footer {
        padding-left: 0;
        padding-right: 0;
    }

    .footer-navigacija {
        grid-template-columns: 1fr;
        padding: 0 20px;
    }

    .footer-info {
        padding: 20px;
    }

    /* Contact */

    .kontakt-section {
        padding: 50px 10px;
    }

    .kontakt-text h1 {
        font-size: 1.5rem;
    }

    .kontakt-forma form input,
    .kontakt-forma form select,
    .kontakt-forma form textarea {
        width: 100%;
    }

    .kontakt-forma {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .kontakt-forma form {
        width: 100%;
        max-width: 80%; /* Assure une meilleure apparence et centrage */
        margin: auto;
    }

    .pocetna-text h1 {
        font-size: 2rem;
    }

    .dodatak {
        flex-direction: column;
    }

    .usluge-section {
        padding: 50px 20px;
    }

    .o-nama-section {
        padding: 50px 20px;
    }

    .o-nama-slika {
        width: 100%;
        max-width: 200px;
        margin: auto;
    }

    .kontakt-section {
        padding: 50px 20px;
        column-gap: 0;
    }

    .kontakt-text h1 {
        font-size: 2rem;
    }

    .kontakt-text p {
        font-size: 1rem;
        padding-right: 20px;
    }

    .kontakt-forma form input {
        font-size: 1rem;
        padding: 10px;
    }

    .kontakt-forma form select {
        padding: 10px;
    }

    .kontakt-forma form textarea {
        font-size: 0.8rem;
        padding: 10px;
    }

    .kontakt-forma form textarea::placeholder {
        font-size: 1rem;
    }

    .naslov {
        font-size: 2rem;
    }

    body {
        overflow-x: hidden;
    }

    .container {
        max-width: 100%; /* Assure que le conteneur ne dépasse pas la largeur de l'écran */
        overflow-x: hidden; /* Empêche le débordement horizontal */
    }

    .content {
        padding: 0 15px; /* Ajoute un peu de padding pour améliorer l'apparence sur des écrans plus petits */
    }
    .usluge-navigacija-lista {
        position: absolute;
        top: 20px;
        left: 0;
        background-color: #2b2b2c;
        width: 250px; /* Ajustez la largeur selon vos besoins */
        height: 0;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        transition: .7s ease;
        overflow: hidden;
        font-size:8px;
    }
   



      /* Réduire la taille de la navigation */
      .navigation-list {
        padding: 5px; /* Ajoutez ou ajustez le rembourrage selon vos besoins */
    }

    /* Réduire la taille de la police des éléments de navigation */
    .navigation-link {
        font-size: 12px; /* Ajustez la taille de la police selon vos besoins */
    }

    /* Réduire l'espace entre les éléments de navigation */
    .navigation-item {
        margin-bottom: 1px; /* Ajustez l'espace selon vos besoins */
    }
    .contact-data span {
        font-size: 12px; /* Font size for smaller screens */
    }
}





@media screen and (max-width: 400px) {
    .navigation-item.logo {
        display: none;
    }
    .navigation-item.log .navigation-link {
        font-family: 'IM Fell French Canon SC', sans-serif;
        font-size: 1rem;
        color: #f1d27b;
    }

    .navigation {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 10px 0;
        border-top: 1px solid rgba(146, 146, 10, 0.3);
        position: relative;
    }
    
    .navigation-list {
        display: flex;
        align-items: center;
        transition: .5s ease;
    }
    
    .navigation-item {
        margin-right: 20px;
    }
    
    
    
    
    .navigation-item.close {
        font-size: 2rem;
        position: absolute;
        top: 20px;
        right: 30px;
        color: #fffff2;
        cursor: pointer;
        display: none;
    }
    
    .navigation-item.usluge-item {
        position: relative;
    }
    
    .navigation-item.usluge-item .navigation-link {
        pointer-events: none;
    }

    .contact-info .contact-data i {
        color: rgb(100, 65, 0);
    }
    .navigation-item.logo {
        display: none;
    }
    
    /* Alignement de la section contact-info */
    .contact-info {
        width: 100%;
        margin: 0;
    }

    .contact-data {
        margin: 0;
    }
    
    /* Styles pour les icônes dans la section contact-data */
    .contact-data i {
        margin-top: 10px;
        font-size: 24px;
        margin-left: 10px;
    }
  
    
    /* Ajustements pour le texte dans la section contact-data */
    .contact-data span {
        font-size: 16px;
        font-weight: bold;
        color: rgb(252, 252, 252);
    }

    /* Styles spécifiques pour le texte dans la section contact-info */
    .contact-info {
        font-size: 15.1px;
        color: rgb(252, 252, 252);
        font-weight: bold;
    }

    /* Ajustements pour la section kontakt-section */
    .kontakt-section {
        padding: 50px 10px;
    }

    /* Ajustements pour le formulaire dans la section kontakt-forma */
    .kontakt-forma {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .kontakt-forma form {
        width: 80%;
    }

    /* Ajustements pour d'autres éléments */
    .pocetna-text {
        padding-right: 20px;
        margin-bottom: -340px;
    }

    .pocetna-text h1 {
        font-size: 2rem;
    }

    .dodatak {
        flex-direction: column;
    }

    .usluge-section,
    .o-nama-section,
    .kontakt-section {
        padding: 100px 20px;
        column-gap: 0;
    }

    .kontakt-text h1 {
        font-size: 2rem;
    }

    .kontakt-text p {
        font-size: 1rem;
        padding-right: 20px;
    }

    .kontakt-forma form input,
    .kontakt-forma form select,
    .kontakt-forma form textarea {
        width: 100%;
        font-size: 1rem;
        padding: 10px;
    }

    .kontakt-forma form textarea::placeholder {
        font-size: 1rem;
    }

    .naslov {
        font-size: 2rem;
    }

    body {
        overflow-x: hidden;
    }

    /* Styles pour la liste usluge-navigacija-lista */
 
    .usluge-navigacija-lista {
        position: absolute;
        top: 20px;
        left: 0;
        background-color: #2b2b2c;
        width: 250px; /* Ajustez la largeur selon vos besoins */
        height: 0;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        transition: .7s ease;
        overflow: hidden;
        font-size: 8px;
        overflow-y: scroll; /* Ajoute la barre de défilement verticale si nécessaire */
    }
   



      /* Réduire la taille de la navigation */
      .navigation-list {
        padding: 5px; /* Ajoutez ou ajustez le rembourrage selon vos besoins */
    }

    /* Réduire la taille de la police des éléments de navigation */
    .navigation-link {
        font-size: 12px; /* Ajustez la taille de la police selon vos besoins */
    }

    /* Réduire l'espace entre les éléments de navigation */
    .navigation-item {
        margin-bottom: 1px; /* Ajustez l'espace selon vos besoins */
    }
    .contact-data span {
        font-size: 12px; /* Font size for smaller screens */
    }
    
}
